 .flow-canvas {
    background: rgb(247, 247, 247);
 }


.flow-socket-circle.accepting {
    stroke: rgb(255, 207, 26);
}

.flow-socket-circle {
    stroke: rgb(66, 74, 94);
    stroke-width: 2px;
}

.flow-socket-circle.connected {
    fill: #ffca00;
}


.flow-socket-circle.required {
    stroke: rgb(93, 13, 13);
}

.flow-socket-connection {
    stroke: #ffca00;
    stroke-width: 5;
    fill: transparent;
}





.simple.content {
    background-color: rgb(0, 0, 0);
}



.flow-object-title {
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

.flow-object {
    border-radius: 0 0 0px 0px;
}

.simple.round-bottom {
    border-radius: 0 0 0px 0px;
}

.flow-object-draggable-area {
    border-radius: 0 0 0px 0px;
    background: none;
    background-color: #454c60;
    
}

.simple.content {
    background-color: rgb(255, 255, 255);
    font-family: arial;
    font-size: 10pt;
    border-radius: 0 0 0px 0px;
    padding: 2px;
}

.simple.head {
    background-color: rgb(247, 247, 247);
    color: white;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    padding-top: 20px;
    padding-bottom: 20px;
}


.simple.input-side {
    padding-left: 6px;
    text-align: left;
    order: 1;
}

.simple.main-center {
    order: 2;
    background-color: #454c60;
    margin-left: 10px;
    margin-right: 10px;
    width: 2px;
    min-width: 0;
}

.simple.output-side {
    padding-right: 6px;
    text-align: right;
    order: 3;
}


.simple.input-row {
    position: relative;
    height: 20px;
}

.simple.output-row {
    position: relative;
    height: 20px;
}

.simple.input-row .flow-socket-svg  {
    position: relative;
    top: 3px;
    margin-right: 5px;
    display: inline;
}

.simple.output-row .flow-socket-svg  {
    position: relative;
    top: 3px;
    margin-left: 5px;
    display: inline;
}


.simple.input-label {
    color: white;
    font-weight: bold;
    color: #437596;
    display: inline;
}

.simple.output-label {
    color: white;
    font-weight: bold;
    color: #437596;
    display: inline;
}



