 
 .flow-object {
    position: absolute;
    padding: 0;
    margin: 0;
    opacity: 0.90;
    border-radius: 10px;
    border-color: rgba(201, 201, 201, 0.26);
    border-style: solid;
    border-width: 2px;
    
 }
 
 .flow-object-draggable-area {
    border-radius: 8px 8px 0 0;
    padding: 0;
    margin: 0;
    min-width: 100%;
    min-height: 20px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00b5d3+0,267e9b+44,008eaa+100&0.2+0,0.2+100 */
    /*background: -moz-linear-gradient(top,  rgba(0,181,211,0.2) 0%, rgba(38,126,155,0.2) 44%, rgba(0,142,170,0.2) 100%); /* FF3.6-15 */
    /*background: -webkit-linear-gradient(top,  rgba(0,181,211,0.2) 0%,rgba(38,126,155,0.2) 44%,rgba(0,142,170,0.2) 100%); /* Chrome10-25,Safari5.1-6 */
    /*background: linear-gradient(to bottom,  rgba(0,181,211,0.2) 0%,rgba(38,126,155,0.2) 44%,rgba(0,142,170,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3300b5d3', endColorstr='#33008eaa',GradientType=0 ); /* IE6-9 */
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c4e2e7+0,cbdadf+44,c4dce1+100 */
    background: rgb(196,226,231); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(196,226,231,1) 0%, rgba(203,218,223,1) 44%, rgba(196,220,225,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(196,226,231,1) 0%,rgba(203,218,223,1) 44%,rgba(196,220,225,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(196,226,231,1) 0%,rgba(203,218,223,1) 44%,rgba(196,220,225,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4e2e7', endColorstr='#c4dce1',GradientType=0 ); /* IE6-9 */
 }
 
 .flow-object-title {
    padding: 10px;
    padding-top: 8px;
    padding-bottom: 4px;
    margin: 0;
    text-align: center;
    font-size: 16px;
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #222;
    font-family: Arial;
 }
 
 .disable-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }
